---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Table from '@components/Table.astro';
import Nextmatch from '@components/Nextmatch.astro';
import TeamScroll from '@components/TeamScroll.astro';
import MatchsToday from '@components/MatchsToday.astro';

---

<Layout title="">
	
	<main>
		<Container>

			<MatchsToday></MatchsToday>


			<div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
				<div class='flex col-span-4  xl:col-span-4 flex-col gap-y-10'>
					<Nextmatch></Nextmatch>
				</div>

				
				<TeamScroll></TeamScroll>

				

				
				<div class='col-span-4  xl:col-span-4 flex flex-col gap-y-4'>
					<h4 class="font-bold">Posiciones</h4>
					<Table />
				</div>
				
			</div>
		</Container>
	</main>
</Layout>