---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Table from '@components/Table.astro';
import TeamScroll from '@components/TeamScroll.astro';
import MatchsToday from '@components/MatchsToday.astro';
import LeaguesScroll from '@components/LeaguesScroll.astro';
import CABNextMatchTeam from '@components/CABNextMatchTeam.astro';
import OthersMatchsToday from '@components/OthersMatchsToday.astro';


---

<Layout title="">

	<main>
		<Container>

			<div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
				<div class='flex col-span-4  xl:col-span-4 flex-col gap-y-10'>
					
				<div class='flex col-span-4  xl:col-span-4 flex-col gap-y-10'>
					<CABNextMatchTeam teamId={"Belgrano"} league={"LPF"}></CABNextMatchTeam>    			
				</div>

				<LeaguesScroll></LeaguesScroll>
				
				<div class='flex col-span-4  xl:col-span-4 flex-col gap-y-1'>
					<MatchsToday></MatchsToday>
					<OthersMatchsToday></OthersMatchsToday>
					<!-- <MatchsToday league={'LaLiga'}></MatchsToday> -->

				</div>
				
			</div>
				
			</div>
		</Container>
	</main>
</Layout>