---
import Container from "./Container.astro";

---

<section class="bg-blue-400 py-20" >
    <Container>
        <h1 class="text-white text-6xl ">            
            {Astro.props.title}
        </h1>
    </Container>
</section>