name: Scrape info for LBDTW

on:
  workflow_dispatch:
  
  repository_dispatch:
    type:
      - webhook
      
  schedule:
  - cron: '*/6 * * * *'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 7.18.2
          run_install: true
      - run: |
          npm run scrape
          git config --global user.email "bustosluciano89@gmail.com"
          git config --global user.name "Luchito"
          git diff --quiet && git diff --staged --quiet || git commit -am "[bot] Update Api LBDTw Database"
          git push origin main

  deploy:
    needs: build
    runs-on: ubuntu-22.04
    name: Deploy API to Cloudflare Workers
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 7.18.2
          run_install: true
      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: api
